body {
   background-color: beige;
 }
 
 .wrapper {
   padding-top: 50px;
   display: flex;
   justify-content: center;
   width: 100%;
   gap: 30px;
 }
 
 input  {
  margin-left: 10px;
  font-size: 30px;
  padding: 10px;
  color: rgb(117, 117, 117);
  margin-bottom: 40px;
  text-align: center;
  font-size: 30px;
  width: 100px;
  }

  button {
    background-color:rgb(21, 113, 76);
    padding: 10px 40px;
    color: #fff;
    font-size: 30px;
    border-radius: 8px;
    cursor: pointer;
  }

  .time{
    display: flex;
    border: 3px solid darkcyan;
    width: 200px;
    height: 200px;
    font-size: 50px;
    justify-content: center;   
    align-items: center; 
    
  }